<h1>Create a new account!</h1>

<form action="/users" method="POST">
  <input type="hidden" name="authenticity_token"
             value="<%= form_authenticity_token%>">

  <br>
  <label for="user.user_name">Username</label>
  <input type="text" id="user.user_name"
        name="user[user_name]" value="<%= @user.user_name %>"></input>

  <br>
  <label for="user.password">Password</label>
  <input type="password" id="user.password"
        name="user[password]"></input>
<br>

<input type="submit" value="Create!"></input>
</form>